'.source.js':

  "ready->jquery":
    "prefix": "jq-ready"
    "body": """
    \\$(document).ready(function(){
      $1
    });
    """

  "ready2->jquery":
    "prefix": "jq-ready2"
    "body": """
    \\$(function(){
      $1
    });
    """
  "ready + jquery->jquery":
    "prefix": "jq-ready3"
    "body": """
    jQuery(document).ready( function(){
      $1
    });
    """
  "ready+func+jq->jquery":
    "prefix": "jq-ready4"
    "body": """
    \\$(function(){
      $1
    })(jQuery);
    """
  "ready + window->jquery":
    "prefix": "jq-ready5"
    "body": """
    \\$(window).load(function(){
		    $1
      });
    """
