'.source.js':

  "selector->jquery":
    "prefix": "jq-selector"
    "body": """
    \\$("$1")
    """

  "addClass->jquery":
    "prefix": "jq-addclass"
    "body": """
    addClass("$1")
    """
  "css->jquery":
    "prefix": "jq-css"
    "body": """
    css({"$1": "$2"})
    """
  "remove->jquery":
    "prefix": "jq-remove"
    "body": """
    remove()
    """
  "empty->jquery":
    "prefix": "jq-empty"
    "body": """
    empty()
    """

  "append->jquery":
    "prefix": "jq-append"
    "body": """
    append("$1")
    """
  "prepend->jquery":
    "prefix": "jq-prepend"
    "body": """
    prepend("$1")
    """
  "before->jquery":
    "prefix": "jq-before"
    "body": """
    before("$1")
    """
  "after->jquery":
    "prefix": "jq-after"
    "body": """
    after("$1")
    """

  "text->jquery":
    "prefix": "jq-text"
    "body": """
    text("$1")
    """
  "html->jquery":
    "prefix": "jq-html"
    "body": """
    html("$1")
    """
  "val->jquery":
    "prefix": "jq-val"
    "body": """
    val("$1")
    """
  "attr->jquery":
    "prefix": "jq-attr"
    "body": """
    attr("$1")
    """


  "slideUp->jquery":
    "prefix": "jq-slideUp"
    "body": """
    slideUp($1)
    """
  "slideDown->jquery":
    "prefix": "jq-slideDown"
    "body": """
    slideDown($1)
    """

  "stop->jquery":
    "prefix": "jq-stop"
    "body": """
    stop($1)
    """
  "animate->jquery":
    "prefix": "jq-animate"
    "body": """
    animate($1)
    """

  "slideToggle->jquery":
    "prefix": "jq-slideToggle"
    "body": """
    slideToggle()$1
    """

  "fadeIn->jquery":
    "prefix": "jq-fadeIn"
    "body": """
    fadeIn()$1
    """
  "fadeOut->jquery":
    "prefix": "jq-fadeOut"
    "body": """
    fadeOut()$1
    """
  "fadeToggle->jquery":
    "prefix": "jq-fadeToggle"
    "body": """
    fadeToggle()$1
    """
  "fadeTo->jquery":
    "prefix": "jq-fadeTo"
    "body": """
    fadeTo()$1
    """

  "hide->jquery":
    "prefix": "jq-hide"
    "body": """
    hide()$1
    """
  "show->jquery":
    "prefix": "jq-show"
    "body": """
    show()$1
    """


  "click->jquery":
    "prefix": "jq-click"
    "body": """
    click(function()$1)
    """
  "dbclick->jquery":
    "prefix": "jq-dbclick"
    "body": """
    dbclick(function()$1)
    """
  "mouseenter->jquery":
    "prefix": "jq-mouseenter"
    "body": """
    mouseenter(function()$1)
    """
  "mouseleave->jquery":
    "prefix": "jq-mouseleave"
    "body": """
    mouseleave(function()$1)
    """
  "mousedown->jquery":
    "prefix": "jq-mousedown"
    "body": """
    mousedown(function()$1)
    """
  "mouseup->jquery":
    "prefix": "jq-mouseup"
    "body": """
    mouseup(function()$1)
    """
  "hover->jquery":
    "prefix": "jq-hover"
    "body": """
    hover(function()$1)
    """
  "focus->jquery":
    "prefix": "jq-focus"
    "body": """
    focus(function()$1)
    """
  "blur->jquery":
    "prefix": "jq-blur"
    "body": """
    blur(function()$1)
    """
  "on->jquery":
    "prefix": "jq-on"
    "body": """
    on("click", function()$1)
    """


  "parent->jquery":
    "prefix": "jq-parent"
    "body": """
    parent()$1
    """
  "parents->jquery":
    "prefix": "jq-parents"
    "body": """
    parents()$1
    """
  "parentsUntil->jquery":
    "prefix": "jq-parentsUntil"
    "body": """
    parentsUntil()
    """
  "parentsUntil->jquery":
    "prefix": "jq-parentsUntil"
    "body": """
    parentsUntil()
    """

  "children->jquery":
    "prefix": "jq-children"
    "body": """
    children()
    """
  "find->jquery":
    "prefix": "jq-find"
    "body": """
    find()
    """
